*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 10px;;
}

.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    background-color: #85586F;
    color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 0px #85586F;
    padding: 50px 0px;
}

.loginTitle{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.userName, .userPassword{
    margin: 0.5rem 0px;
    padding: 1rem 2rem;
    border-radius: 3rem;;
    text-align: center;
    width: 15rem;
    font-size: 1.2rem;
    border: 2px solid white;
    background: transparent;
    color: white;
    outline: none;
    transition: all .2s ease-in-out;
}

.userName:focus,
.userPassword:focus {
    width: 20rem;
}